.git
.github
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
tests
.vscode
.idea
*.md
!README.md
.editorconfig
.gitignore
.gitattributes
phpunit.xml
.php-cs-fixer.php
